*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Josefin Sans;
}

img {
  width: 100%;
}

#menu {
  position: absolute;
  opacity: 0;
}
#menu:checked + .hamberger-menu .patty {
  background-color: white;
}
#menu:checked + .hamberger-menu .patty::before {
  transform: rotate(-45deg);
  top: 0;
}
#menu:checked + .hamberger-menu .patty::after {
  transform: rotate(45deg);
  top: 0;
}
#menu:checked ~ .nav-holder {
  height: 45vh;
}

header {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-right: 1px solid #6a6a6a;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 450px) {
  header {
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    padding-bottom: 0;
    padding-right: 0;
    margin-right: 1rem;
    width: auto;
    margin-left: auto;
  }
}
header .logo-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
header .logo-holder h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
@media (max-width: 450px) {
  header .logo-holder h1 {
    font-size: 2rem;
  }
}
header .search-lang-nav-holder {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
header .search-lang-nav-holder .search-lang-holder {
  padding-bottom: 3rem;
  display: flex;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .search-lang-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
  }
}
header .search-lang-nav-holder .search-lang-holder .header-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .search-lang-holder .header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
  }
}
header .search-lang-nav-holder .search-lang-holder .header-form .search {
  border: 1px solid #a7a7a7;
  margin-right: 1rem;
  border-radius: 0.3rem;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .search-lang-holder .header-form .search {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
header .search-lang-nav-holder .search-lang-holder .header-form .search input {
  border: none;
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  outline: transparent;
  width: 6rem;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .search-lang-holder .header-form .search input {
    width: 100%;
    padding: 1rem;
  }
}
header .search-lang-nav-holder .search-lang-holder .header-form .search .search-button {
  border: none;
  background-color: transparent;
  padding: 0.2rem;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .search-lang-holder .header-form .search .search-button {
    padding: 0.5rem;
  }
}
header .search-lang-nav-holder .search-lang-holder .header-form .search .search-button img {
  width: 1rem;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .search-lang-holder .header-form .search .search-button img {
    width: 1.5rem;
  }
}
header .search-lang-nav-holder .search-lang-holder .header-form .lang select {
  padding: 0.2rem;
  margin: 0;
  background-color: transparent;
  border: none;
}
header .search-lang-nav-holder .hamberger-menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .hamberger-menu {
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
  header .search-lang-nav-holder .hamberger-menu .patty {
    width: 1rem;
    height: 0.2rem;
    background-color: black;
    position: relative;
    transition: transform 0.3s;
  }
  header .search-lang-nav-holder .hamberger-menu .patty::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.25rem;
    width: 1.5rem;
    height: 0.2rem;
    background-color: black;
    transition: transform 0.3s;
  }
  header .search-lang-nav-holder .hamberger-menu .patty::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: -0.25rem;
    width: 1.5rem;
    height: 0.2rem;
    background-color: black;
    transition: transform 0.3s;
  }
}
header .search-lang-nav-holder .hamberger-menu.active .patty {
  color: white;
}
header .search-lang-nav-holder .hamberger-menu.active .patty::before {
  transform: translateY(2rem) rotate(45deg);
}
header .search-lang-nav-holder .hamberger-menu.active .patty::after {
  transform: translateY(2rem) rotate(-45deg);
}
header .search-lang-nav-holder .nav-holder {
  display: flex;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .nav-holder {
    width: 105%;
    background-color: white;
    height: 0;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 12.5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.473);
    transition: height 1s;
  }
}
header .search-lang-nav-holder .nav-holder a {
  margin-right: 3rem;
  text-decoration: none;
  color: rgb(51, 51, 51);
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .nav-holder a {
    margin: 2rem 0;
    width: auto;
  }
}
header .search-lang-nav-holder .nav-holder a:last-child {
  margin: 0;
}
@media (max-width: 450px) {
  header .search-lang-nav-holder .nav-holder a:last-child {
    margin: 2rem 0;
    width: auto;
  }
}
header .search-lang-nav-holder .nav-holder a.active {
  position: relative;
}
header .search-lang-nav-holder .nav-holder a.active::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  position: absolute;
  bottom: -7px;
  left: 0;
}

.carousel-container {
  width: 100%;
  background-image: -moz-linear-gradient(white 25%, rgb(245, 245, 245) 25%);
}
.carousel-container .carousel-holder,
.carousel-container .news-holder {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #6a6a6a;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder,
.carousel-container .news-holder {
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
  }
}
.carousel-container .carousel-holder .carousel,
.carousel-container .news-holder .carousel {
  position: relative;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel,
.carousel-container .news-holder .carousel {
    width: 100%;
  }
}
.carousel-container .carousel-holder .carousel .slider-count,
.carousel-container .news-holder .carousel .slider-count {
  position: absolute;
  left: -4.3%;
  rotate: -90deg;
  top: 54vh;
  z-index: 1;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider-count,
.carousel-container .news-holder .carousel .slider-count {
    left: -12%;
  }
}
.carousel-container .carousel-holder .carousel .slider-count .count,
.carousel-container .news-holder .carousel .slider-count .count {
  display: none;
}
.carousel-container .carousel-holder .carousel .slider-count .count span,
.carousel-container .news-holder .carousel .slider-count .count span {
  font-size: 2rem;
}
.carousel-container .carousel-holder .carousel .slider-count .count.active,
.carousel-container .news-holder .carousel .slider-count .count.active {
  display: block;
}
.carousel-container .carousel-holder .carousel .slider,
.carousel-container .news-holder .carousel .slider {
  width: 98%;
  position: relative;
  left: 2%;
}
.carousel-container .carousel-holder .carousel .slider .slide,
.carousel-container .news-holder .carousel .slider .slide {
  width: 100%;
  display: none;
}
.carousel-container .carousel-holder .carousel .slider .slide .slide-image,
.carousel-container .news-holder .carousel .slider .slide .slide-image {
  width: 90%;
  height: 60vh;
  overflow: hidden;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slide-image,
.carousel-container .news-holder .carousel .slider .slide .slide-image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slide-image img,
.carousel-container .news-holder .carousel .slider .slide .slide-image img {
    width: 100%;
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-text,
.carousel-container .news-holder .carousel .slider .slide .slider-text {
  position: absolute;
  top: 10%;
  right: 0;
  width: 25%;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-text,
.carousel-container .news-holder .carousel .slider .slide .slider-text {
    width: 120%;
    rotate: -90deg;
    font-size: 3.3rem;
    top: 15%;
    right: -48%;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-text::after,
.carousel-container .news-holder .carousel .slider .slide .slider-text::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: black;
  position: absolute;
  bottom: -5%;
  left: 0;
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content,
.carousel-container .news-holder .carousel .slider .slide .slider-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 5% 0;
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-date,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-date {
  font-size: 1rem;
  margin-bottom: 2%;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-date,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-date {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p {
  margin-right: 3rem;
  width: 25%;
  font-weight: lighter;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: auto;
    margin: 1rem 2rem;
    margin-bottom: 0;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(1),
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(1) {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(1),
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 20vh;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(3),
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(3) {
  margin-bottom: 5rem;
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(4),
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(4) {
  margin-right: 0;
  padding: 2%;
  padding-right: 6%;
  border: 5px solid black;
  font-size: 2.4rem;
  font-weight: 900;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(4),
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description p:nth-child(4) {
    position: absolute;
    top: 0;
    margin-right: 2rem;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description .more,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description .more {
  background-color: black;
  color: white;
  border: none;
  padding: 0.4rem 1rem 0.2rem;
  width: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 100;
  margin-top: 70%;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider .slide .slider-content .slider-description .more,
.carousel-container .news-holder .carousel .slider .slide .slider-content .slider-description .more {
    margin: auto;
    padding: 1rem 0.5rem;
    width: 80%;
    margin-left: 0;
    position: absolute;
    bottom: 0;
  }
}
.carousel-container .carousel-holder .carousel .slider .slide.active,
.carousel-container .news-holder .carousel .slider .slide.active {
  display: block;
}
.carousel-container .carousel-holder .carousel .slider-control,
.carousel-container .news-holder .carousel .slider-control {
  position: absolute;
  right: 9.7%;
  top: 54.8vh;
  display: flex;
}
@media (max-width: 450px) {
  .carousel-container .carousel-holder .carousel .slider-control,
.carousel-container .news-holder .carousel .slider-control {
    top: 54.1vh;
    right: 0;
  }
}
.carousel-container .carousel-holder .carousel .slider-control button,
.carousel-container .news-holder .carousel .slider-control button {
  margin: 0;
}
.carousel-container .carousel-holder .carousel .slider-control .previous,
.carousel-container .carousel-holder .carousel .slider-control .next,
.carousel-container .news-holder .carousel .slider-control .previous,
.carousel-container .news-holder .carousel .slider-control .next {
  padding: 0.5rem 1.5rem;
  margin: 0;
  font-size: 2rem;
  border-radius: 0;
  border: none;
  background-color: white;
}
.carousel-container .carousel-holder .carousel .slider-control .previous:hover,
.carousel-container .carousel-holder .carousel .slider-control .next:hover,
.carousel-container .news-holder .carousel .slider-control .previous:hover,
.carousel-container .news-holder .carousel .slider-control .next:hover {
  background-color: #dfdfdf;
}

.news-container {
  width: 100%;
  background-image: -moz-linear-gradient(rgb(245, 245, 245) 7%, white 7%);
}
.news-container .news-holder {
  position: relative;
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #6a6a6a;
  align-items: inherit;
}
@media (max-width: 450px) {
  .news-container .news-holder {
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
}
.news-container .news-holder .section-side-text {
  position: absolute;
  rotate: -90deg;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: small;
  left: -6%;
  top: 7%;
}
@media (max-width: 450px) {
  .news-container .news-holder .section-side-text {
    left: -17%;
    top: 2.5%;
  }
}
.news-container .news-holder .primary-news {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 48%;
  margin-left: 2%;
  position: relative;
}
@media (max-width: 450px) {
  .news-container .news-holder .primary-news {
    width: 98%;
  }
}
.news-container .news-holder .primary-news .primary-news-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-container .news-holder .primary-news .primary-news-image img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-container .news-holder .primary-news .primary-news-floting-text {
  position: absolute;
  top: 5%;
  left: 5%;
}
.news-container .news-holder .primary-news .primary-news-floting-text .primary-news-date {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.news-container .news-holder .primary-news .primary-news-floting-text .primary-news-title {
  font-size: 3rem;
  width: 44%;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  line-height: 3rem;
  letter-spacing: 0rem;
}
.news-container .news-holder .primary-news .primary-news-floting-text .primary-news-title::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: black;
}
.news-container .news-holder .primary-news .primary-news-description {
  background-color: black;
  padding: 15% 10% 10%;
  color: white;
  position: relative;
}
.news-container .news-holder .primary-news .primary-news-description::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 80%;
  width: 0;
  height: 0;
  border-bottom: 15px solid black;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.news-container .news-holder .primary-news .primary-news-description p {
  font-weight: 100;
  margin-bottom: 10%;
}
.news-container .news-holder .primary-news .primary-news-description .more {
  padding: 0.4rem 2rem 0.3rem;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.news-container .news-holder .secondary-news {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin-top: 33%;
  margin-bottom: 5%;
}
@media (max-width: 450px) {
  .news-container .news-holder .secondary-news {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
    margin-top: 3rem;
  }
}
.news-container .news-holder .secondary-news .secondary-news-description {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-left: 5%;
  position: relative;
  width: 50%;
}
@media (max-width: 450px) {
  .news-container .news-holder .secondary-news .secondary-news-description {
    width: 98%;
    margin-left: 2%;
  }
}
.news-container .news-holder .secondary-news .secondary-news-description::before {
  content: "";
  position: absolute;
  top: -10%;
  width: 100%;
  height: 7px;
  background-color: black;
}
@media (max-width: 450px) {
  .news-container .news-holder .secondary-news .secondary-news-description::before {
    top: 1%;
    right: 0;
    width: 70%;
  }
}
.news-container .news-holder .secondary-news .secondary-news-description p,
.news-container .news-holder .secondary-news .secondary-news-description h3,
.news-container .news-holder .secondary-news .secondary-news-description .secondary-news-image,
.news-container .news-holder .secondary-news .secondary-news-description .secondary-news-date {
  margin: 8%;
  margin-top: 0;
}
@media (max-width: 450px) {
  .news-container .news-holder .secondary-news .secondary-news-description p,
.news-container .news-holder .secondary-news .secondary-news-description h3,
.news-container .news-holder .secondary-news .secondary-news-description .secondary-news-image,
.news-container .news-holder .secondary-news .secondary-news-description .secondary-news-date {
    margin-left: 2%;
  }
}
.news-container .news-holder .secondary-news .secondary-news-description .secondary-news-image {
  width: 100%;
  height: 11rem;
  overflow: hidden;
}
.news-container .news-holder .secondary-news .secondary-news-description .more {
  background-color: black;
  color: white;
  border: none;
  padding: 0.4rem 1rem 0.2rem;
  width: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 100;
  margin-left: 8%;
}
@media (max-width: 450px) {
  .news-container .news-holder .secondary-news .secondary-news-description .more {
    margin-left: 2%;
    margin-bottom: 2rem;
  }
}

.row-3-container {
  width: 100%;
  background-image: -moz-linear-gradient(white 35%, rgb(245, 245, 245) 35%);
  background-size: 87.2% auto;
  background-repeat: no-repeat;
}
.row-3-container .row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left: 12.5%;
  padding-top: 10%;
  border-left: 1px solid #6a6a6a;
  padding-bottom: 4rem;
  position: relative;
}
@media (max-width: 450px) {
  .row-3-container .row-3 {
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-direction: column-reverse;
  }
}
.row-3-container .row-3 .row-3-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  justify-content: space-between;
  width: 40%;
  height: 30vh;
  margin-right: 10%;
  position: relative;
  margin-left: 2%;
}
@media (max-width: 450px) {
  .row-3-container .row-3 .row-3-col-1 {
    width: 98%;
    height: 40vh;
    margin-right: auto;
  }
}
.row-3-container .row-3 .row-3-col-1::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 7px;
  background-color: black;
  top: -18%;
}
@media (max-width: 450px) {
  .row-3-container .row-3 .row-3-col-1::before {
    top: 1%;
    width: 70%;
    right: 0;
  }
}
.row-3-container .row-3 .row-3-col-1 .more {
  background-color: black;
  color: white;
  border: none;
  padding: 0.4rem 1rem 0.2rem;
  width: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 100;
}
.row-3-container .row-3 .row-3-col-2 {
  width: 50%;
  position: relative;
}
@media (max-width: 450px) {
  .row-3-container .row-3 .row-3-col-2 {
    width: 98%;
    margin-left: 2%;
    margin-top: 5rem;
  }
}
.row-3-container .row-3 .row-3-col-2 .row-3-image {
  width: 95%;
}
@media (max-width: 450px) {
  .row-3-container .row-3 .row-3-col-2 .row-3-image {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.row-3-container .row-3 .row-3-col-2 .row-3-image img {
  width: 100%;
}
.row-3-container .row-3 .row-3-float-text {
  top: -27%;
  right: 5%;
  padding: 5%;
  width: 40%;
  position: absolute;
  border: 5px solid black;
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .row-3-container .row-3 .row-3-float-text {
    width: 65%;
  }
}
.row-3-container .row-3 .row-3-float-text span {
  position: relative;
  font-size: 3rem;
}
.row-3-container .row-3 .row-3-side-text {
  left: -6%;
  top: 29%;
  position: absolute;
  rotate: -90deg;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: small;
}
@media (max-width: 450px) {
  .row-3-container .row-3 .row-3-side-text {
    left: -17%;
    top: 10%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left: 12.5%;
  border-left: 1px solid #6a6a6a;
  padding-bottom: 2%;
  position: relative;
  padding-top: 12%;
}
@media (max-width: 450px) {
  footer {
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 3rem;
  }
}
footer .footer-side-text {
  position: absolute;
  rotate: -90deg;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: small;
  left: -5%;
  top: -40%;
}
@media (max-width: 450px) {
  footer .footer-side-text {
    top: 8%;
    left: -14%;
  }
}
footer .footer-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
}
@media (max-width: 450px) {
  footer .footer-holder {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    position: relative;
    top: 10%;
  }
}
footer .footer-holder .footer-col {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  justify-content: space-between;
  font-style: normal;
  border-right: 1px solid #6a6a6a;
  padding: 3%;
  padding-top: 0;
  width: 25%;
  height: 25vh;
}
@media (max-width: 450px) {
  footer .footer-holder .footer-col {
    width: 80%;
    margin-top: 3rem;
    height: 20vh;
    border-right: none;
    padding: 0;
    padding-left: 2%;
  }
}
footer .footer-holder .footer-col h3 {
  position: absolute;
  top: -25%;
  font-weight: 100;
}
@media (max-width: 450px) {
  footer .footer-holder .footer-col h3 {
    position: relative;
    top: 0;
  }
}
footer .footer-holder .footer-col span {
  text-transform: uppercase;
  font-weight: 900;
}
footer .footer-holder .footer-col h4 {
  margin-bottom: 5%;
  margin-top: 0;
}
@media (max-width: 450px) {
  footer .footer-holder .footer-col h4 {
    position: relative;
  }
  footer .footer-holder .footer-col h4::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: lightgray;
    right: 0;
    top: 35%;
  }
}
footer .footer-holder .footer-col a {
  text-decoration: none;
  color: black;
}
footer .footer-holder .footer-col a:hover {
  opacity: 0.6;
}
footer .footer-holder .footer-col .newsletter p {
  font-size: 0.8rem;
}
footer .footer-holder .footer-col .subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 5%;
}
footer .footer-holder .footer-col .subscribe-form input {
  border: none;
  background-color: transparent;
  padding: 1rem;
  padding-right: 0;
  width: 65%;
}
footer .footer-holder .footer-col .subscribe-form button {
  background-color: black;
  border-radius: 0;
  border: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 35%;
}
footer .footer-holder .footer-col .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 5%;
}
footer .footer-holder .footer-col .social-media a {
  margin-left: 5%;
  opacity: 0.6;
  margin-top: 5%;
}
footer .footer-holder .footer-col .social-media a:hover {
  opacity: 1;
}
footer .footer-holder .footer-col .social-media a figure {
  width: 70%;
  margin: 0;
}
footer .footer-holder .footer-col .social-media a figure img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */